USE [master]
GO
/****** Object:  Database [Yachta]    Script Date: 03.12.2021 23:23:28 ******/
CREATE DATABASE [Yachta]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Yachta', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Yachta.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Yachta_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Yachta_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Yachta].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Yachta]
GO
/****** Object:  Table [dbo].[Accessory]    Script Date: 03.12.2021 23:23:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accessory](
	[Accessory_ID] [int] NOT NULL,
	[AccName] [nvarchar](255) NULL,
	[DescriptionOfAccessory] [nvarchar](255) NULL,
	[Price] [float] NULL,
	[VAT] [float] NULL,
	[Inventory] [float] NULL,
	[OrderLevel] [float] NULL,
	[OrderBatch] [float] NULL,
	[Partner_ID] [int] NULL,
 CONSTRAINT [PK_Accessory$] PRIMARY KEY CLUSTERED 
(
	[Accessory_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccToBoats]    Script Date: 03.12.2021 23:23:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccToBoats](
	[Fit_ID] [int] NOT NULL,
	[Accessory_ID] [int] NULL,
	[Boat_ID] [int] NULL,
 CONSTRAINT [PK_AccToBoats$] PRIMARY KEY CLUSTERED 
(
	[Fit_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Boat]    Script Date: 03.12.2021 23:23:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boat](
	[boat_ID] [int] NOT NULL,
	[Model] [nvarchar](255) NULL,
	[BoatType] [nvarchar](255) NULL,
	[NumberOfRowers] [float] NULL,
	[Mast] [bit] NOT NULL,
	[Colour] [nvarchar](255) NULL,
	[Wood] [nvarchar](255) NULL,
	[BasePrice] [float] NULL,
	[VAT] [float] NULL,
 CONSTRAINT [PK_Boat$] PRIMARY KEY CLUSTERED 
(
	[boat_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contract]    Script Date: 03.12.2021 23:23:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contract](
	[Contract_ID] [int] NOT NULL,
	[Date] [datetime] NULL,
	[DepositPayed] [money] NULL,
	[Order_ID] [int] NULL,
	[ContractTotalPrice] [money] NULL,
	[ContracTotalPrice_inclVAT] [money] NULL,
	[ProductionProcess] [nvarchar](255) NULL,
 CONSTRAINT [PK_Contract] PRIMARY KEY CLUSTERED 
(
	[Contract_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 03.12.2021 23:23:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Customer_ID] [int] NOT NULL,
	[FistName] [nvarchar](255) NULL,
	[FamilyName] [nvarchar](255) NULL,
	[DateOfBirth] [datetime] NULL,
	[OrganisationName] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[City] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[Phone] [nvarchar](255) NULL,
	[IDNumber] [nvarchar](255) NULL,
	[IDDocumentName] [nvarchar](255) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 03.12.2021 23:23:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[Invoice_ID] [int] NOT NULL,
	[Contract_ID] [int] NULL,
	[Settled] [bit] NULL,
	[Sum] [money] NULL,
	[Sum_inclVAT] [float] NULL,
	[Date] [datetime] NULL,
 CONSTRAINT [PK_Invoice$] PRIMARY KEY CLUSTERED 
(
	[Invoice_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 03.12.2021 23:23:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Order_ID] [int] NOT NULL,
	[Date] [datetime] NULL,
	[Salesperson_ID] [int] NULL,
	[Customer_ID] [int] NULL,
	[Boat_ID] [int] NULL,
	[DeliveryAddress] [nvarchar](255) NULL,
	[City] [nvarchar](255) NULL,
 CONSTRAINT [PK_Order$] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 03.12.2021 23:23:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Detail_ID] [int] NOT NULL,
	[Accessory_ID] [int] NULL,
	[Order_ID] [int] NULL,
 CONSTRAINT [PK_OrderDetails$] PRIMARY KEY CLUSTERED 
(
	[Detail_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partner]    Script Date: 03.12.2021 23:23:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partner](
	[Partner_ID] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[City] [nvarchar](255) NULL,
 CONSTRAINT [PK_Partner$] PRIMARY KEY CLUSTERED 
(
	[Partner_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesPerson]    Script Date: 03.12.2021 23:23:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesPerson](
	[SalesPerson_ID] [int] NOT NULL,
	[FirstName] [nvarchar](255) NULL,
	[FamilyName] [nvarchar](255) NULL,
 CONSTRAINT [PK_SalesPerson$] PRIMARY KEY CLUSTERED 
(
	[SalesPerson_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Accessory] ([Accessory_ID], [AccName], [DescriptionOfAccessory], [Price], [VAT], [Inventory], [OrderLevel], [OrderBatch], [Partner_ID]) VALUES (1, N'Черпак', N'Деревянный черпак, красный', 2500, 0.18, 10, 5, 5, 11)
INSERT [dbo].[Accessory] ([Accessory_ID], [AccName], [DescriptionOfAccessory], [Price], [VAT], [Inventory], [OrderLevel], [OrderBatch], [Partner_ID]) VALUES (2, N'Весло малое', N'малое весло, дубовое', 3000, 0.18, 15, 10, 10, 10)
INSERT [dbo].[Accessory] ([Accessory_ID], [AccName], [DescriptionOfAccessory], [Price], [VAT], [Inventory], [OrderLevel], [OrderBatch], [Partner_ID]) VALUES (3, N'Весло среднее', N'Среднее весло, дубовое', 4000, 0.18, 20, 10, 20, 11)
GO
INSERT [dbo].[AccToBoats] ([Fit_ID], [Accessory_ID], [Boat_ID]) VALUES (1, 1, 101)
INSERT [dbo].[AccToBoats] ([Fit_ID], [Accessory_ID], [Boat_ID]) VALUES (2, 1, 201)
INSERT [dbo].[AccToBoats] ([Fit_ID], [Accessory_ID], [Boat_ID]) VALUES (3, 1, 202)
GO
INSERT [dbo].[Boat] ([boat_ID], [Model], [BoatType], [NumberOfRowers], [Mast], [Colour], [Wood], [BasePrice], [VAT]) VALUES (101, N'RB Стандарт', N'Шлюпка', 1, 0, N'Зеленый', N'Ель', 60000, 0.18)
INSERT [dbo].[Boat] ([boat_ID], [Model], [BoatType], [NumberOfRowers], [Mast], [Colour], [Wood], [BasePrice], [VAT]) VALUES (201, N'SB Стандарт', N'Парусная лодка', 0, 1, N'Белый', N'Ель', 280000, 0.18)
INSERT [dbo].[Boat] ([boat_ID], [Model], [BoatType], [NumberOfRowers], [Mast], [Colour], [Wood], [BasePrice], [VAT]) VALUES (202, N'SB Юниор', N'Парусная лодка', 0, 1, N'Красный', N'Сосна', 165000, 0.18)
GO
INSERT [dbo].[Contract] ([Contract_ID], [Date], [DepositPayed], [Order_ID], [ContractTotalPrice], [ContracTotalPrice_inclVAT], [ProductionProcess]) VALUES (10, CAST(N'2015-05-04T00:00:00.000' AS DateTime), 96500.0000, 1, 289200.0000, 358608.0000, N'75% готовности')
INSERT [dbo].[Contract] ([Contract_ID], [Date], [DepositPayed], [Order_ID], [ContractTotalPrice], [ContracTotalPrice_inclVAT], [ProductionProcess]) VALUES (11, CAST(N'2015-06-15T00:00:00.000' AS DateTime), 250000.0000, 2, 744600.0000, 922884.0000, N'75% готовности')
INSERT [dbo].[Contract] ([Contract_ID], [Date], [DepositPayed], [Order_ID], [ContractTotalPrice], [ContracTotalPrice_inclVAT], [ProductionProcess]) VALUES (12, CAST(N'2015-09-01T00:00:00.000' AS DateTime), 22000.0000, 3, 66000.0000, 81840.0000, N'Отделка лодки')
GO
INSERT [dbo].[Customer] ([Customer_ID], [FistName], [FamilyName], [DateOfBirth], [OrganisationName], [Address], [City], [email], [Phone], [IDNumber], [IDDocumentName]) VALUES (111, N'Александр', N'Порков', CAST(N'1986-05-31T00:00:00.000' AS DateTime), N'ООО "Венчур капитал"', N'Невский пр., дю43', N'Санкт-Петребург', N'c.bargue@kaarinacruises.fi', N'+7 915 142-67-10', N'PP6036589', N'Паспорт РФ')
INSERT [dbo].[Customer] ([Customer_ID], [FistName], [FamilyName], [DateOfBirth], [OrganisationName], [Address], [City], [email], [Phone], [IDNumber], [IDDocumentName]) VALUES (112, N'Евгения', N'Сатова', CAST(N'1972-08-01T00:00:00.000' AS DateTime), N'ООО "Калипсо"', N'Судостроителей, д. 3', N'Санкт-петербург', N'hanna.hentonen@doublehh.com', N'+7 925 145-18-83', N'PK5533478', N'паспорт РФ')
INSERT [dbo].[Customer] ([Customer_ID], [FistName], [FamilyName], [DateOfBirth], [OrganisationName], [Address], [City], [email], [Phone], [IDNumber], [IDDocumentName]) VALUES (113, N'Михаил', N'Буревой', CAST(N'1960-05-03T00:00:00.000' AS DateTime), N'', N'ул. Ленина, 15', N'Москва', N'bjorn.bengtson@amundsen.fi', N'+7 916 341-43-20', N'452639129', N'Загранпаспорт')
GO
INSERT [dbo].[Invoice] ([Invoice_ID], [Contract_ID], [Settled], [Sum], [Sum_inclVAT], [Date]) VALUES (11, 10, 1, 96400.0000, 17352, CAST(N'2014-05-06T00:00:00.000' AS DateTime))
INSERT [dbo].[Invoice] ([Invoice_ID], [Contract_ID], [Settled], [Sum], [Sum_inclVAT], [Date]) VALUES (12, 10, 1, 120000.0000, 21600, CAST(N'2014-07-06T00:00:00.000' AS DateTime))
INSERT [dbo].[Invoice] ([Invoice_ID], [Contract_ID], [Settled], [Sum], [Sum_inclVAT], [Date]) VALUES (13, 10, 1, 72799.8000, 13103.963999999998, CAST(N'2014-09-06T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Order] ([Order_ID], [Date], [Salesperson_ID], [Customer_ID], [Boat_ID], [DeliveryAddress], [City]) VALUES (1, CAST(N'2015-05-04T00:00:00.000' AS DateTime), 100, 111, 201, N'Санкт-Петербург, порт', N'Санкт-Петербург')
INSERT [dbo].[Order] ([Order_ID], [Date], [Salesperson_ID], [Customer_ID], [Boat_ID], [DeliveryAddress], [City]) VALUES (2, CAST(N'2015-06-06T00:00:00.000' AS DateTime), 100, 112, 302, N'Кронштадт', N'Кронштадт')
INSERT [dbo].[Order] ([Order_ID], [Date], [Salesperson_ID], [Customer_ID], [Boat_ID], [DeliveryAddress], [City]) VALUES (3, CAST(N'2015-08-12T00:00:00.000' AS DateTime), 102, 113, 101, N'Москва, Северный порт', N'Москва')
GO
INSERT [dbo].[OrderDetails] ([Detail_ID], [Accessory_ID], [Order_ID]) VALUES (1, 14, 1)
INSERT [dbo].[OrderDetails] ([Detail_ID], [Accessory_ID], [Order_ID]) VALUES (2, 3, 1)
INSERT [dbo].[OrderDetails] ([Detail_ID], [Accessory_ID], [Order_ID]) VALUES (3, 9, 1)
GO
INSERT [dbo].[Partner] ([Partner_ID], [Name], [Address], [City]) VALUES (10, N'ООО"Мемфис"', N'испания, Барселона', N'Барселона')
INSERT [dbo].[Partner] ([Partner_ID], [Name], [Address], [City]) VALUES (11, N'ООО "Рога и копыта"', N'Сакт-петербург, Невский проспект, 41', N'Санкт-Петербург')
INSERT [dbo].[Partner] ([Partner_ID], [Name], [Address], [City]) VALUES (12, N'ЗАО "Онский сталелитейный завод', N'Онск, ул. Ленина, д 12', N'Онск')
GO
INSERT [dbo].[SalesPerson] ([SalesPerson_ID], [FirstName], [FamilyName]) VALUES (100, N'Игорь', N'Авторасков')
INSERT [dbo].[SalesPerson] ([SalesPerson_ID], [FirstName], [FamilyName]) VALUES (101, N'Екатерина', N'Иванова')
INSERT [dbo].[SalesPerson] ([SalesPerson_ID], [FirstName], [FamilyName]) VALUES (102, N'Яна', N'Свиридова')
GO
ALTER TABLE [dbo].[Accessory]  WITH CHECK ADD  CONSTRAINT [FK_Accessory_Partner] FOREIGN KEY([Partner_ID])
REFERENCES [dbo].[Partner] ([Partner_ID])
GO
ALTER TABLE [dbo].[Accessory] CHECK CONSTRAINT [FK_Accessory_Partner]
GO
ALTER TABLE [dbo].[AccToBoats]  WITH CHECK ADD  CONSTRAINT [FK_AccToBoats_Accessory] FOREIGN KEY([Accessory_ID])
REFERENCES [dbo].[Accessory] ([Accessory_ID])
GO
ALTER TABLE [dbo].[AccToBoats] CHECK CONSTRAINT [FK_AccToBoats_Accessory]
GO
ALTER TABLE [dbo].[AccToBoats]  WITH CHECK ADD  CONSTRAINT [FK_AccToBoats_Boat] FOREIGN KEY([Boat_ID])
REFERENCES [dbo].[Boat] ([boat_ID])
GO
ALTER TABLE [dbo].[AccToBoats] CHECK CONSTRAINT [FK_AccToBoats_Boat]
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [FK_Contract_Order] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Order] ([Order_ID])
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [FK_Contract_Order]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Contract] FOREIGN KEY([Contract_ID])
REFERENCES [dbo].[Contract] ([Contract_ID])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_Contract]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Customer] ([Customer_ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_SalesPerson] FOREIGN KEY([Salesperson_ID])
REFERENCES [dbo].[SalesPerson] ([SalesPerson_ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_SalesPerson]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Accessory] FOREIGN KEY([Accessory_ID])
REFERENCES [dbo].[Accessory] ([Accessory_ID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Accessory]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Order] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Order] ([Order_ID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Order]
GO
USE [master]
GO
